{
    "singleQuote": true,
    "semi": false,
    "bracketSameLine": false,
    "printWidth": 120,
    "singleAttributePerLine": true,
    "tailwindPreserveDuplicates": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "css",
    "plugins": [
        "prettier-plugin-organize-attributes",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "tabWidth": 4,
                "singleQuote": false
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "tabWidth": 4,
                "singleQuote": false,
                "parser": "html"
            }
        }
    ]
}
