includes:
    - rules.neon

parameters:
    paths:
        - app
        - bootstrap
        - database
        - public
        - routes

    level: max
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
