includes:
    - rules.neon

parameters:
    level: max
    paths:
        - app
        - bootstrap
        - database
        - public
        - routes
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
